<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    input:checked+span {
      text-decoration: line-through;
    }

    .p {
      margin-bottom: 20px;
    }
  </style>
  <title>Titre</title>
</head>

<body>
  <header>
    <h1>Gâteau moelleux au chocolat dans une tasse</h1>
  </header>
  <main>
    <img src="https://images.ricardocuisine.com/services/recipes/496x670_5769.jpg" alt="image de la recette" width="150"
      height="200">
    <h3>Informations générales</h1>
      <label class="p">Préparation : 5 min</label><br></br>
      <label class="p">Portions : 1</label><br></br>
      <label class="p">Calories : 361 kcal</label>
      <h3>Ingrédients</h3>
      <ul>
        <li>45 ml (3 c. à soupe) de farine tout usage non blanchie</li>
        <li>30 ml (2 c. à soupe) de cassonade</li>
        <li>10 ml (2 c. à thé) de cacao</li>
        <li>1 ml (¼ c. à thé) de poudre à pâte</li>
        <li>45 ml (3 c. à soupe) de lait</li>
        <li>15 ml (1 c. à soupe) d'huile de canola</li>
        <li>1 goutte d'extrait de vanille</li>
        <li>10 pépites de chocolat mi-sucré (5 ml / 1 c. à thé)</li>
      </ul>

      <h3>Outils</h3>
      <ol>
        <li> Tasse à café (250ml)</li>
        <li>Fourchette</li>
        <li>Micro-ondes</li>
      </ol>

      <h3>Étapes</h3>
      </label>
      <ul style="list-style: none;">
        <input type="checkbox">
        <label>
          Dans la tasse à café, mélange la farine, la cassonade, le
          cacao et la poudre à pâte. Ajoute le lait, l'huile et la vanille.
        </label>
        <br>

        <input type="checkbox">
        <label style="text-decoration: line-through;">
          Avec la fourchette, brasse délicatement jusqu'à ce que la pâte n'ait plus de grumeaux. Dépose les
          pépites de chocolat sur le dessus.
        </label>
        <br>

        <input type="checkbox">
        <label>
          Cuis le gâteau au micro-ondes 45 secondes. Laisse tiédir 5 minutes pour permettre au gâteau de
          terminer sa cuisson.
        </label>
      </ul>
  </main>
  <footer style="margin-bottom: 10px;">
    <a href="https://www.ricardocuisine.com/recettes/5769-gateau-moelleux-au-chocolat-dans-une-tasse">Source de la
      recette</a>
  </footer>
</body>

</html>